* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define the style for the menu bar */
.menu-bar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the menu items */
.menu-bar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of menu items on hover */
.menu-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add styles for social media icons */
.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.logo {
  max-height: 60px;
  padding: 5px;
}

/* Add styles for the contact form */
.contact-form {
  display: flex;
  align-items: center;
}

/* .contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="submit"] {
  padding: 5px;
  margin-left: 80px;
} */

/* .form1 {
  margin-top: 50px;
}

.form2 {
  margin-top: 30px;
}

.form3 {
  margin-top: 30px;
} */


p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041242;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.section-p1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.section-m1 {
  margin: 40px 0;
}

.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.first-p {
  margin-left: 65px;
  margin-right: 65px;
  padding-top: 30px;
  padding-bottom: 25px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #8bece6;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}